/* 2048 Game */
:root {
    --tile-size: 90px;
    --gap: 10px;
    --tile-font-size: 40px;
    --name-font-size: 50px;
    --info-name-font-size: 16px;
    --info-num-font-size: 35px;
}

@media (max-width: 600px) {
    :root {
        --tile-size: 60px;
        --gap: 7px;
        --tile-font-size: 25px;
        --name-font-size: 35px;
        --info-name-font-size: 10px;
        --info-num-font-size: 20px;
    }

    .game2048-score, .game2048-highest-score {
        width: 30px !important;
    }
}

.info-name { 
    font-size: var(--info-name-font-size) !important;
}

.info-num {
    font-size: var(--info-num-font-size) !important;
}

.game2048-name {
    font-size: var(--name-font-size) !important;
}

.game2048-header {
    display: flex;
    justify-content: space-between;
    width: calc(var(--gap) * 5 + var(--tile-size) * 4);
    align-items: center;
}

.game2048-info {
    display: flex;
    flex-direction: row;
    column-gap: 5px;

}

.game2048-score, .game2048-highest-score {
    background-color: rgb(226, 216, 207);
    padding: 5px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90px;
}

.background-2048 {
    background-color: rgb(250,248,239);
    background-image: url('../assets/fruit.svg');
    background-size: 1000px;
    background-position: 50%;
}

#board {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    column-gap: var(--gap);
    row-gap: var(--gap);
    background-color: rgb(188,172,159);
    border-radius: 5px;
    position: relative;
    width: calc(var(--gap) * 5 + var(--tile-size) * 4);
    height: calc(var(--gap) * 5 + var(--tile-size) * 4);
}
  
.cell {
    position: absolute;
    top: calc((var(--gap) + var(--tile-size)) * var(--y) + var(--gap));
    left: calc((var(--gap) + var(--tile-size)) * var(--x) + var(--gap));;
    height: var(--tile-size);
    width: var(--tile-size);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--darkBackground);
    font-weight: bold;
    transition: 100ms ease-in-out;
    animation: show 200ms ease-in-out;
}

.cell-font {
    font-size: var(--tile-font-size) !important;
}

@keyframes show {
    0% {
        opacity: .5;
        transform: scale(0);
    }
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
}

.invisible {
    color: transparent;
    background-color: rgb(204,193,180);
}

.num-2 {
    background-color: #eee4da;
}

.num-4 {
    background-color: #ede0c8;
}

.num-8 {
    background-color: #f2b179;
    color: white;
}

.num-16 {
    background-color: #f59563;
    color: white;
}

.num-32 {
    background-color: #f67c5f;
    color: white;
}

.num-64 {
    background-color: #f65e3b;
    color: white;
}

.num-128 {
    background-color: #edcf72;
    color: white;
}

.num-256 {
    background-color: #edcc61;
    color: white;
}

.num-512 {
    background-color: #edc850;
}

.num-1024 {
    background-color: #edc53f;
}

.num-2048 {
    background-color: #edc22e;
}