:root {
    --darkBackground: white;
}

.tetris-game {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100%;
}



.tetris-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.tetris-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.tetris-background {
    background-color: rgb(255, 252, 233);
    background-repeat: repeat;
    background-position: 50% 0%;
    background-image: url(../assets/tetris-background.svg);
}

.tetris-instructions, .tetris-highest-score {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    background-color: rgb(241, 241, 241);
    border: 5px solid rgb(95, 95, 95);
}

.arrow {
    width: 30px;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;  
}

.arrow.pointer {
    margin: 3px;
}

.inline-block {
    display: inline-block;
}

.arrow-instruction {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.tetris-block {
    border: 0.1px solid rgb(44, 44, 44);
}

.tetris-grid {
    border: 3px solid rgb(201, 201, 201);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.tetris-row {
    display: flex;
    flex-direction: row;
}

.tetris-block {
    height: 18px;
    width: 18px;
}

.tetris-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 200px;
}


.tetris-dark {
    background-color: var(--darkBackground)
}



.sound-settings {
    position: fixed;
    bottom: 0;
    right: 60px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

@media(max-width: 944px) {
    .tetris-game {
        flex-direction: column;
    }

    .sound-settings {
        width: 50px;
        height: 50px;
        right: 0;
        top: 115px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 5px;
    }
}