body {
    margin: 0;
}

.pointer:hover, .tile:hover, .rise-on-hover:hover {
    cursor: pointer
}

.rise-on-hover:hover {
    transform: scale(1.03)
}

.rise-on-hover {
    transition: 0.5s;
}

/* Blanko */

.square {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.word {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 5px;
}

.blanko-background {
    background-image: url('assets/aussie-background.svg');
    background-size: cover;
    background-position: 90%;
}

.blanko-box {
    background-color: rgb(255, 252, 233);
    padding: 50px;
    padding-bottom: 30px;
    border-radius: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 700px) {

    .word {
        padding: 10px;
    }

    .square {
        width: 20px;
        height: 20px;
    }

    .blank-font-size {
        font-size: 15px !important;
    }
    
    .input-size {
        width: 17px !important;
    }
}

.grid {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid rgb(203, 203, 203);
    border-radius: 10px;
}

.grid-row {
    display: flex;
    flex-direction: row;
}

.tile {
    border: 0.5px solid black;
}

.tile-img, .tile {
    width: 150px;
    height: 150px;
}











/* 2048 Game */
#board {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
    background-color: rgb(188,172,159);
    padding: 10px;
    border-radius: 5px;
}
  
#game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.invisible {
    color: transparent;
}

.num-2 {
    background-color: #eee4da;
}

.num-4 {
    background-color: #ede0c8;
}

.num-8 {
    background-color: #f2b179;
    color: white;
}

.num-16 {
    background-color: #f59563;
    color: white;
}

.num-32 {
    background-color: #f67c5f;
    color: white;
}

.num-64 {
    background-color: #f65e3b;
    color: white;
}

.num-128 {
    background-color: #edcf72;
    color: white;
}

.num-256 {
    background-color: #edcc61;
    color: white;
}

.num-512 {
    background-color: #edc850;
}

.num-1024 {
    background-color: #edc53f;
}

.num-2048 {
    background-color: #edc22e;
}