body {
    margin: 0;
}

.pointer:hover, .tile:hover, .rise-on-hover:hover {
    cursor: pointer
}

.rise-on-hover:hover {
    transform: scale(1.03)
}

.rise-on-hover {
    transition: 0.5s;
}

/* Blanko */

.square {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.word {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 5px;
}

.blanko-background {
    background-image: url('assets/aussie-background.svg');
    background-size: cover;
    background-position: 90%;
}

.blanko-box {
    background-color: rgb(255, 252, 233);
    padding: 20px;
    padding-bottom: 15px;
    border-radius: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 700px) {

    .word {
        padding: 10px;
    }

    .square {
        width: 20px;
        height: 20px;
    }

    .blank-font-size {
        font-size: 15px !important;
    }
    
    .input-size {
        width: 17px !important;
    }
}

/* Slido */

.grid {
    display: flex;
    background-color: white;
    flex-direction: column;
    border: 10px solid rgb(203, 203, 203);
    border-radius: 10px;
}

.grid-row {
    display: flex;
    flex-direction: row;
}

.tile {
    border: 0.5px solid black;
}

.tile-img, .tile {
    width: 150px;
    height: 150px;
}

.slido-background {
    background-image: url('assets/modern-family-logo.svg');
    background-size: 200px;
    background-position: 50%;
}

@media(max-width: 500px) {
    .tile-img, .tile {
        width: 100px;
        height: 100px;
    }    
}







