body {
    margin: 0;
}

.pointer:hover, .tile:hover, .rise-on-hover:hover {
    cursor: pointer
}

.rise-on-hover:hover {
    transform: scale(1.03)
}

.rise-on-hover {
    transition: 0.5s;
}

.square {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.word {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 5px;
}

.grid {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid rgb(203, 203, 203);
    border-radius: 10px;
}

.grid-row {
    display: flex;
    flex-direction: row;
}

.tile {
    border: 0.5px solid black;
}

.tile-img, .tile {
    width: 150px;
    height: 150px;
}

/* Tetris */
:root {
    --darkBackground: white;
}

.tetris-game {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.tetris-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tetris-background {
    background-color: rgb(255, 252, 233);
    background-repeat: repeat;
    background-position: 50% 0%;
    background-image: url(assets/test.svg)
}

.tetris-instructions, .tetris-highest-score {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    background-color: rgb(241, 241, 241);
    border: 5px solid rgb(95, 95, 95);
}


.arrow {
    width: 30px;
    margin-right: 10px;
}

.inline-block {
    display: inline-block;
}

.arrow-instruction {
    display: flex;
    align-items: center;
    margin: 10px;
}

.tetris-block {
    border: 0.1px solid rgb(44, 44, 44);
}

.tetris-grid {
    border: 3px solid rgb(201, 201, 201);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.tetris-row {
    display: flex;
    flex-direction: row;
}

.tetris-block {
    height: 20px;
    width: 20px;
}

.tetris-dark {
    background-color: var(--darkBackground)
}

.cell {
    height: 90px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--darkBackground);
    font-size: 30px;
    font-weight: bold;
}

/* 2048 Game */
#board {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
    background-color: rgb(188,172,159);
    padding: 10px;
    border-radius: 5px;
}
  
#game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.invisible {
    color: transparent;
}

.num-2 {
    background-color: #eee4da;
}

.num-4 {
    background-color: #ede0c8;
}

.num-8 {
    background-color: #f2b179;
    color: white;
}

.num-16 {
    background-color: #f59563;
    color: white;
}

.num-32 {
    background-color: #f67c5f;
    color: white;
}

.num-64 {
    background-color: #f65e3b;
    color: white;
}

.num-128 {
    background-color: #edcf72;
    color: white;
}

.num-256 {
    background-color: #edcc61;
    color: white;
}

.num-512 {
    background-color: #edc850;
}

.num-1024 {
    background-color: #edc53f;
}

.num-2048 {
    background-color: #edc22e;
}